.global-content {
  & .text-title {
    text-align: left;
  }

  & .drawer-menu-icon-burger {
    display: none;
  }

  & .header-inner {
    & .pc-menu {
      display: flex;

      & > h4 {
        margin: 0;
        padding: 0 20px;

        & > a {
          font-size: 20px;
          line-height: 44px;
          transition: color 0.4s;

          &:hover {
            color: white;
            text-decoration: none;
            border-bottom: solid 1px #ad96f1;
          }
        }
      }
    }
  }

  & .about {
    &__inner {
      max-width: 960px;
    }
  }

  & .use {
    &__inner {
      max-width: 960px;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////

.main-app {
  & > img {
    animation-play-state: paused;
  }

  & .chat-box {
    width: 860px;
    margin: 0 auto;
    &__inner {
      max-width: 960px;
    }
  }

  & .input {
    padding: 20px 0;

    & > form {
      & .text-in {
        width: 560px;
        height: 40px;
      }
    }
  }
}
