.drawer-menu-icon-burger {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.drawer-menu-icon-burger > span {
  margin-top: 10px;
  width: 35px;
  height: 2px;
  display: block;
  background-color: #cacaca;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.drawer-menu-icon-burger > span:first-child {
  margin: 0;
}

.drawer-menu-icon-burger-open .drawer-menu-icon-burger > span:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(-135deg);
          transform: translateY(12px) rotate(-135deg);
}

.drawer-menu-icon-burger-open .drawer-menu-icon-burger > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.drawer-menu-icon-burger-open .drawer-menu-icon-burger > span:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(135deg);
          transform: translateY(-12px) rotate(135deg);
}

.btn {
  border-bottom: solid 3px #9e911a;
  padding: 5px 50px;
  background-color: #ecd932;
  letter-spacing: 2px;
  font-weight: bold;
}

body {
  background-color: #dddddd;
}

body h1,
body h2,
body h3 {
  margin: 0;
}

body a {
  text-decoration: none;
  color: #cacaca;
}

.content-width, .global-content .about__inner, .global-content .use__inner {
  margin: 0 auto;
  width: 90%;
}

.content-center {
  text-align: center;
}

.padding-b, .global-content .about__inner, .global-content .use {
  padding-bottom: 60px;
}

.margin-M {
  margin: 60px;
}

.global-content {
  position: relative;
}

.global-content .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #353f69;
  z-index: 50;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.global-content .mobile-menu__inner {
  margin-top: 150px;
}

.global-content .mobile-menu__inner > h4 {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #cacaca;
  line-height: 38px;
  border-bottom: solid 1px #afafaf;
}

.global-content .header-inner {
  padding: 5px 10px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  z-index: 100;
}

.global-content .header-inner > h1 {
  color: #cacaca;
  font-size: 34px;
}

.global-content .header-inner .pc-menu {
  display: none;
}

.global-content .mv {
  position: relative;
  width: 100%;
  height: 60vh;
}

.global-content .mv > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 53%;
     object-position: 53%;
  z-index: -100;
}

.global-content .mv > h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 130px;
  left: 0;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #cacaca;
  opacity: 0.99;
}

.global-content .mv > button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

.global-content .text-title {
  line-height: 80px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
}

.global-content .text {
  font-size: 18px;
}

.global-content .about {
  position: relative;
}

.global-content .about > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}

.global-content .use {
  background-color: #152c4c;
}

.global-content .use__inner {
  color: #cacaca;
}

.global-content .use__inner > p:last-child {
  margin: 0;
}

.global-content .footer {
  background-color: black;
  color: #cacaca;
}

.global-content .footer > h3 {
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

.drawer-menu-icon-burger-open .mobile-menu {
  -webkit-transform: none;
          transform: none;
}

.main-app .head-name {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #152c4c;
}

.main-app .head-name .name {
  padding: 0 40px;
  border-radius: 20px;
  background-color: #185a1b;
}

.main-app .head-name .name > h2 {
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
}

.main-app .head-name > img {
  width: 24px;
}

.main-app .input {
  padding: 0;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: right;
}

.main-app .input > form > input {
  margin: 0 5px;
  padding: 3px 40px;
  background-color: #152c4c;
  border: solid 2px #152c4c;
  border-radius: 8px;
  color: #cacaca;
  letter-spacing: 3px;
  font-weight: bold;
}

.main-app .input > form > textarea {
  width: 100%;
  outline: none !important;
}

@media (min-width: 860px) {
  .global-content .text-title {
    text-align: left;
  }
  .global-content .drawer-menu-icon-burger {
    display: none;
  }
  .global-content .header-inner .pc-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .global-content .header-inner .pc-menu > h4 {
    margin: 0;
    padding: 0 20px;
  }
  .global-content .header-inner .pc-menu > h4 > a {
    font-size: 20px;
    line-height: 44px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
  .global-content .header-inner .pc-menu > h4 > a:hover {
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ad96f1;
  }
  .global-content .about__inner {
    max-width: 960px;
  }
  .global-content .use__inner {
    max-width: 960px;
  }
}
/*# sourceMappingURL=style.css.map */